@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes show-menu {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes hide-menu {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
    
}

@keyframes pixelate {
    0% {
        filter: url('#pixelate-0');
    }
    12.5% {
        filter: url('#pixelate-1');
    }
    25% {
        filter: url('#pixelate-2');
    }
    37.5% {
        filter: url('#pixelate-3');
    }
    50% {
        filter: url('#pixelate-4');
    }
    62.5% {
        filter: url('#pixelate-5');
    }
    78% {
        filter: url('#pixelate-6');
    }
    100% {
        filter: url('#pixelate-7');
    }
}

@keyframes depixelate {
    0% {
        filter: url('#pixelate-7');
    }
    12.5% {
        filter: url('#pixelate-6');
    }
    25% {
        filter: url('#pixelate-5');
    }
    37.5% {
        filter: url('#pixelate-4');
    }
    50% {
        filter: url('#pixelate-3');
    }
    62.5% {
        filter: url('#pixelate-2');
    }
    78% {
        filter: url('#pixelate-1');
    }
    100% {
        filter: url('#pixelate-0');
    }
}


@keyframes glitch {
    0% {
        filter: url('#pixelate-0');
    }
    12.5% {
        filter: url('#pixelate-1');
    }
    25% {
        filter: url('#pixelate-3');
    }
    37.5% {
        filter: url('#pixelate-7');
    }
    50% {
        filter: url('#pixelate-4');
    }
    62.5% {
        filter: url('#pixelate-5');
    }
    78% {
        filter: url('#pixelate-1');
    }
    100% {
        filter: url('#pixelate-0');
    }
}


@keyframes rainbow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 100%;
    }
}