:root {
    --back-color: #f3f3f3;
    --front-color: #222;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    background: var(--back-color);
    width: 100vw;
    height: 100%;
    padding: 44px 44px;
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Courier New', monospace;
    position: relative;
    height: 100%;
}

p, a, h1, h2, h3, ul, li, time {
    color: var(--front-color);
}

h1, h2 {
    font-family: 'Silkscreen';
}

nav {
    text-align: right;
}

nav a {
    padding: 20px 10px;
}

@media screen and (max-width: 700px) {
    nav {
        text-align: left;
    }

    nav a:first-child {
        padding-left: 0;
    }
}

p {
    max-width: 700px;
}

a:hover {
    text-decoration: none;
}


section {
    margin-bottom: 44px;
}

section h2 {
    text-decoration: underline;
}


section .cv-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1;
}

section .cv-list li {
    margin-bottom: 44px;
}

section .cv-list li * {
    margin-top: 10px;
    margin-bottom: 10px;
}

section .cv-list li time + time {
    margin-left: 0;
}

section .work-list, section .skill-list {
    line-height: 1.4;
} 

section .skills-list {
    max-width: 700px;
}

section .tags {
    padding-left: 0;
    font-family: 'Silkscreen';
    font-size: 12px;
}

section .tags li {
    display: inline;
    background: #000;
    padding: 3px 5px;
    margin-bottom: 5px;
    color: var(--back-color);
    line-height: 2.2;

}

main {
    padding-bottom: 250px;
}

.blog-post-in-feed  {
    border-left: 4px solid;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
}

.blog-post-in-feed a::after {
    content: " ➭";
}

.blog-post-in-feed img {
    max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--front-color);
    color: var(--back-color);
    left: 0;
    padding: 20px 44px 44px; 
}

footer > * {
    color: var(--back-color);
}

footer a {
    display: block;
    margin-bottom: 10px;
}

@media print {
    body {
        font-family: sans-serif;
    }
    main {
        padding-bottom: 44px;
    }

    footer {
        position: relative;
    }

    .no-print {
        display: none;
    }
}

@font-face {
    font-family: 'Silkscreen';
    src: url('/assets/fonts/Silkscreen/Silkscreen-Regular.ttf');
    font-display: swap; 
}