@view-transition {
	navigation: auto;
}


:root {
    --front-color: #212121;
    --front-color: #f2f2f2;
    /*--back-color: #222;*/
    --back-color: #1067af;
    --back-color-light: #116bb4;
    --copy-color: #f2f2f2;
    --main-padding: 3rem;


    --color-1: rgb(171, 0, 3); 
    --color-2: rgb(3, 168, 0); 
    --color-3: rgb(0, 158, 172); 

}

html {
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
    vertical-align: baseline;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    background: var(--back-color);
    width: 100vw;
    height: 100%;
    padding: 10vh 10vw 10vh;
    font-size: 16px;
    line-height: 1.4;
    font-family:  'Chakra Petch', 'Turret Road', 'Red Hat Display', 'Staatliches', sans-serif;
    position: relative;
    background-size: 100%;
    background-position: 100% 0%;
    display: grid;
    grid-template-columns: 25% 75%;

    background-color: var(--back-color);
    background-image:  linear-gradient(var(--back-color-light) 1.6px, transparent 1.6px), linear-gradient(90deg, var(--back-color-light) 1.6px, transparent 1.6px), linear-gradient(var(--back-color-light) 0.8px, transparent 0.8px), linear-gradient(90deg, var(--back-color-light) 0.8px, var(--back-color) 0.8px);
    background-size: 40px 40px, 40px 40px, 8px 8px, 8px 8px;
    background-position: -1.6px -1.6px, -1.6px -1.6px, -0.8px -0.8px, -0.8px -0.8px;
}

p, a, h1, h2, h3, ul, li, time {
    color: var(--front-color);
    font-weight: 400;
}

h1 {
    font-family:  'Chakra Petch','Turret Road',sans-serif;
    font-size: 4em;
    letter-spacing: -2px;
    line-height: 1em;
    margin-top: 0;
    position: relative;
    margin-left: -0.08em;
}

h2 {
    font-size: 2.75rem;
    line-height: 1.4rem;
}

#background-vid, .canvas-background {
    position: fixed;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    inset: 0;
    z-index: -1;
    max-width: unset !important;
}

p {
    color: var(--copy-color);
    max-width: 65ch;
}

a {
    margin-bottom: 0.2em;
    display: inline-block;
    text-decoration: none;
    box-shadow:  0 -0.2em 0 0 var(--back-color) inset, 0 -0.25em 0 0 var(--front-color) inset;
}


a:hover {
    text-decoration: none;
    background: var(--front-color);
    color: var(--back-color);
}

main {
    padding: 0 var(--main-padding) 4em;
}

aside {
    padding: 0 calc(var(--main-padding) / 2) 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    border-right: 2px solid var(--front-color);
    align-items: flex-end;
    text-align: right;
    height: 80vh;
    position: sticky;
    top: 10vh;
}

nav {
    flex-direction: column;
    display: flex;
    font-size: 2.75rem;
    gap: 0.25rem;
}


nav a {
    position: relative;
}

nav a[data-active="true"] {
    box-shadow: unset;
}

nav a[data-active="true"]:before {
    content: "> ";
    position: absolute;
    left: -0.9em;
    top: 0.32em;
    color: var(--front-color);
    font-size: 0.7em;
    animation: blink 1.4s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


footer {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer h2 {
    margin-bottom: 1.5rem;
}

nav a, footer a {
    margin: auto 0 auto auto;
}

footer a {
    white-space: nowrap;
}



section .cv-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1;
}

section .cv-list li {
    margin-bottom: 44px;
}

section .cv-list li * {
    margin: 10px;
    margin-left: 0;
}

section .cv-list li time + time {
    margin-left: 0;
}

section .work-list, section .skill-list {
    line-height: 1.4;
} 

section .work-list {
    line-height: 1.4;
} 

section .work-list li {
} 

section .skills-list {
    max-width: 700px;
}


.case-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case-in-feed {
    width: 100%;
    min-width: 250px;
    order: 3;
}

.case-in-feed.highlight {
    order: 2;
}

.case-in-feed.hero {
    order: 1;
    width: 100%;
}

.case-in-feed a {
    text-decoration: none;
}

.case-in-feed a:hover h2 {
    text-decoration: underline;
}

.case-in-feed p, .case-in-feed h2 {
}

.case-in-feed img {
    max-width: 100%;
}

body.cases h2{
    margin-bottom: 0;
}

body.cases .excerpt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body.cases .excerpt p {
    width: 70%
}

body.cases .excerpt video, body.cases .excerpt img {
    width: 30%
}

body.cases .excerpt img {
    box-shadow: 
    -3px -3px 4px -2px rgba(0,0,0,0.75) inset,
    3px 3px 4px -2px rgba(255,255,255,0.75) inset;
}



body.case .excerpt img, body.case .excerpt video {
    display: none;
}

body.case .gallery {
   /*  display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    height: 150vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}



body.case img,
body.case video,
body.cases img,
body.cases video   {
    width: 100%;
    max-width: 500px;
    margin: 0 1em 1em 0;
    /* box-shadow: 2px 2px 0px 2px var(--color-1),
                6px 6px 0px 2px var(--color-2),
                10px 10px 0px 2px var(--color-3);
    border-radius: 5px; 
    border-radius: 5px; */
}
/* body.case .gallery * {
    max-width: 70%;
    margin: 1em;
    box-shadow: 2px 2px 0px 2px var(--color-1),
                6px 6px 0px 2px var(--color-2),
                10px 10px 0px 2px var(--color-3);
    border-radius: 5px;
} */


.tags {
    padding-left: 0;
    font-family: 'Chakra Petch', 'Silkscreen';
    font-size: 12px;
}

.tags li {
    display: inline;
    background: var(--front-color);
    padding: 3px 5px;
    margin-bottom: 5px;
    color: var(--back-color);
    line-height: 2.2;
    margin: auto;
    border-radius: 1px;
    white-space: nowrap;
    mix-blend-mode: luminosity;
    background: #aafff7;
}

.blog-post-in-feed  {
    border: 2px solid var(--front-color);
    padding-left: 0;
    margin: 0 1rem 1rem 0;
    padding: 1em 2em;
    width: auto;
    display: inline-block;
}

.blog-post-in-feed a::before {
    content: "";
}

.blog-post-in-feed img {
    max-width: 100%;
}

.sub-page-intro {
    margin-bottom: 4rem;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em 4em;
    margin-top: 1em;
    align-items: center;
    max-width: 700px;
}

.brands img {
    max-width: 175px;
    max-height: 70px;
    min-width: 100px;
    width: 7%;
    filter: grayscale(100%) contrast(0) brightness(5000);
}


.menu-label {
    display: none;
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    .menu-label {
        display: flex;
        position: fixed;
        bottom: 0;
        right: calc((var(--main-padding) / 2) + 2px);
        z-index: 200;
        color: var(--front-color);
    }

    .menu-label:before {
        font-size: 3rem;
        content: "≡";
    }
    
    #menu-toggle:checked + .menu-label:before {
        content: "×";
    }
    
    #menu-toggle {
        display: inline;
        opacity: 0;
        position: absolute;
    }

    #menu-toggle:checked ~ aside {
        transform: translateX(0);
    }

    aside {
        padding: calc(var(--main-padding)* 2) calc(var(--main-padding) / 2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        border-right: 2px solid var(--front-color);
        align-items: flex-end;
        text-align: right;
        height: 100%;
        position: fixed;
        inset: 0;
        background: var(--back-color);
        width: 100%;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        box-shadow: -2px 0px 5px 0 #00000050;
        background-image:  linear-gradient(var(--back-color-light) 1.6px, transparent 1.6px), linear-gradient(90deg, var(--back-color-light) 1.6px, transparent 1.6px), linear-gradient(var(--back-color-light) 0.8px, transparent 0.8px), linear-gradient(90deg, var(--back-color-light) 0.8px, var(--back-color) 0.8px);
        background-size: 40px 40px, 40px 40px, 8px 8px, 8px 8px;
        background-position: -1.6px -1.6px, -1.6px -1.6px, -0.8px -0.8px, -0.8px -0.8px;
    }

    main {
        padding: 0;
    }
}

@media print {
    body {
        font-family: sans-serif;
    }
    main {
        padding-bottom: 44px;
    }

    footer {
        position: relative;
    }

    .no-print {
        display: none;
    }
}


@media (prefers-reduced-motion) {
    * {
        animation: unset !important;
    }
}