@view-transition {
	navigation: auto;
}

:root {
    --main-padding: 3rem;
    --front-color: #FF6E00;
    --back-color: #222;
}

@media (prefers-color-scheme: light) {
    :root {
        --front-color: #333;
        --back-color: #ffffff;
    }
}


html {
    box-sizing: border-box;
    background: var(--back-color)
}
*, *:before, *:after {
    box-sizing: inherit;
    vertical-align: baseline;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    background: var(--back-color);
    width: 100vw;
    height: 100%;
    padding: 10vh 10vw 10vh;
    font-size: 20px;
    line-height: 1.4;
    font-family:
        ui-sans-serif,
        system-ui,
        -system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Roboto, Helvetica, Arial,
        sans-serif,
        "Apple Color Emoji";
    font-weight: 10;
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
    color: var(--front-color);
}

p {
    font-weight: 200;
}

p, a, h1, h2, h3, ul, li, time {
    color: var(--front-color);
}

@media (prefers-color-scheme: dark) {
    p, a, h1, h2, h3, ul, li, time {
        //text-shadow: rgb(224 0 0) 0px 0px 10px;
    }
}


h1 {
    font-size: 4em;
    letter-spacing: -2px;
    line-height: 1em;
    margin-top: 0;
    position: relative;
    margin-left: -0.08em;
    word-break: break-word;
    
}

h2 {
    font-size: 2.25rem;
    font-weight: 150;
    line-height: 0.8em;

}

#background-vid, .canvas-background {
    position: fixed;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    inset: 0;
    z-index: -1;
    max-width: unset !important;
}

p {
    color: var(--front-color);
    max-width: 65ch;
}

a {
    margin-bottom: 0.2em;
    display: inline-block;
    text-decoration: underline;
}

a[data-active="true"] {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    animation: glitch 0.32s ease-in-out;
    animation-fill-mode: both;
}

main {
    padding: 0 var(--main-padding) 4em;
}


.wow  {
    //background-image: radial-gradient( violet, lightblue, green, yellow, orange, red, orange, yellow, green, lightblue, violet);
    //background-position: 0 0;
    //background-size: 800% 800%;
    //color: transparent;
    //background-clip: text;
    -webkit-background-clip: text;
    font-style: italic;
    letter-spacing: -2px;

}
.wow span {
    animation: rainbow 2s ease infinite;
    font-variation-settings: "wdth" 70;
}
.wow span:nth-child(2) {animation-delay: .1s}
.wow span:nth-child(3) {animation-delay: .2s}
.wow span:nth-child(4) {animation-delay: .3s}
.wow span:nth-child(5) {animation-delay: .4s}
.wow span:nth-child(6) {animation-delay: .5s}



aside {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    align-items: flex-end;
    text-align: right;
    height: 80vh;
    position: sticky;
    top: 10vh;
    font-weight: 170;
}

nav {
    flex-direction: column;
    display: flex;
    font-size: 2.75rem;
    gap: 0.25rem;
    text-transform: capitalize;
}


nav a {
    position: relative;
    text-decoration: none;
}

nav a[data-active="true"]:before {
    content: "> ";
    position: absolute;
    left: -0.9em;
    top: 0.32em;
    color: var(--front-color);
    font-size: 0.7em;
    animation: blink 1.4s infinite;
}




footer {
    font-size: 0.86em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.87em;
}

nav a, footer a {
    margin: auto 0 auto auto;
}

footer a {
    white-space: nowrap;
}



section .cv-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1;
}


section .cv-list li {
    margin-bottom: 2em;
}

section .cv-list li h4 {
    margin-bottom: 0.75rem;
}

section .cv-list li time {
    font-size: 0.9em;
}
section .cv-list li time + time {
    margin-left: 0;
}

section .work-list, section .skill-list {
    line-height: 1.4;
} 

section .work-list {
    line-height: 1.4;
} 

section .work-list li {
} 

section .skills-list {

    padding-left:0;
    list-style-type: none;
    max-width: 700px;
}


.case-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case-in-feed {
    width: 100%;
    min-width: 250px;
    order: 3;
}

.case-in-feed.highlight {
    order: 2;
}

.case-in-feed.hero {
    order: 1;
    width: 100%;
}

.case-in-feed a {
    text-decoration: none;
}

.case-in-feed a:hover h2 {
    text-decoration: underline;
}

.case-in-feed p, .case-in-feed h2 {
}

.case-in-feed img {
    max-width: 100%;
}

body.cases h2{
    margin-bottom: 0;
}

body.cases .excerpt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body.cases .excerpt p {
    width: 70%
}

body.cases .excerpt video, body.cases .excerpt img {
    width: 30%
}

body.cases .excerpt img {
    box-shadow: 
    -3px -3px 4px -2px rgba(0,0,0,0.75) inset,
    3px 3px 4px -2px rgba(255,255,255,0.75) inset;
}



body.case .excerpt img, body.case .excerpt video {
    display: none;
}

body.case .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}



body.case img,
body.case video,
body.cases img,
body.cases video   {
    width: 100%;
    max-width: 500px;
    margin: 0 1em 1em 0;
}

.tags {
    font-size: 18px;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags li {
    background: var(--front-color);
    padding: 7px 10px;
    color: var(--back-color);
    border-radius: 2px;
    white-space: nowrap;
}

.blog-post-in-feed  {
    border-top: 2px solid var(--front-color);
    margin: 0 1rem 0 0;
    padding: 1em 0;
}

.blog-post-in-feed a::before {
    content: "";
}

.blog-post-in-feed img {
    max-width: 100%;
}

.sub-page-intro {
    margin-bottom: 3rem;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em 4em;
    margin-top: 1em;
    align-items: center;
    max-width: 700px;
}

.brands img {
    max-width: 175px;
    max-height: 70px;
    min-width: 100px;
    width: 7%;
    filter: grayscale(100%) contrast(0) brightness(5000);
}


.menu-label {
    display: none;
}

#nav-toggle-input {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    main {
        filter: unset;
    }

    .menu-label {
        display: flex;
        position: fixed;
        bottom: calc((var(--main-padding) / 3));
        right: calc((var(--main-padding) / 2) + 2px);
        z-index: 200;
        color: var(--front-color);
    }

    .menu-label:before {
        font-size: 3rem;
        content: "≡";
        animation: unset;
    }
    
    #nav-toggle-input:checked + .menu-label:before {
        content: "×";
        animation: glitch 0.32s ease-out;
        animation-fill-mode: both;
    }
    
    #nav-toggle-input {
        display: inline;
        opacity: 0;
        position: absolute;
    }


    aside {
        padding: calc(var(--main-padding)* 2) calc(var(--main-padding) / 2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        border-right: 14px solid var(--front-color);
        align-items: flex-end;
        text-align: right;
        height: 100%;
        position: fixed;
        inset: 0;
        width: 100%;
        z-index: 100;
        background: #eeeeeebb;
        opacity: 0;
    }

    @media (prefers-color-scheme: dark) {
        aside {
            background: #4b4a4aab;
        }
    }

    aside a {
        box-shadow: unset;
        text-decoration: underline;
        transform-origin: left;
    }

    aside a[data-active="true"] {
        text-decoration: none;
    }

    main {
        padding: 0;
    }


    #nav-toggle-input:checked ~ aside {
        animation: show-menu 0.2s ease-in;
        animation-fill-mode: forwards;
    }
    
    #nav-toggle-input:not(:checked) ~ aside {
        animation-direction: reverse;
        animation: hide-menu 0.2s ease-in;
        animation-fill-mode: forwards;
    }


    #nav-toggle-input:checked ~ aside + main {
        animation: pixelate .3s ease-out;
        animation-fill-mode: forwards;
        animation-direction: forwards;
    }

     
    #nav-toggle-input:not(:checked) ~ aside + main {
        animation: depixelate .2s ease-out;
    }


    
   #nav-toggle-input:checked ~ aside * * {
        animation: depixelate 0.3s ease-out;
        animation-fill-mode: forwards;
    }

    #nav-toggle-input:not(:checked) ~ aside * * {
        animation: pixelate 0.3s ease-out;
        animation-direction: reverse;
    }


    #nav-toggle-input:checked ~ aside * *:nth-of-type(1) { animation-delay: 0.1s; }
    #nav-toggle-input:checked ~ aside * *:nth-of-type(2) { animation-delay: 0.2s; }
    #nav-toggle-input:checked ~ aside * *:nth-of-type(3) { animation-delay: 0.3s; }
    #nav-toggle-input:checked ~ aside * *:nth-of-type(4) { animation-delay: 0.4s; }
    #nav-toggle-input:checked ~ aside * *:nth-of-type(5) { animation-delay: 0.5s; }
    #nav-toggle-input:checked ~ aside * *:nth-of-type(6) { animation-delay: 0.6s; }
    #nav-toggle-input:checked ~ aside * *:nth-of-type(7) { animation-delay: 0.7s; }
    #nav-toggle-input:checked ~ aside * *:nth-of-type(8) { animation-delay: 0.8s; }


}

@media print {
    main {
        padding-bottom: 44px;
    }

    footer {
        position: relative;
    }

    .no-print {
        display: none;
    }
}


@media (prefers-reduced-motion) {
    * {
        animation: unset !important;
    }
}
