<section class="brands">
    <img src="/assets/img/brands/xlent.svg" alt="XLENT">
    <img src="/assets/img/brands/kia.svg" alt="Kia">
    <img src="/assets/img/brands/sandqvist.svg" alt="Sandqvist">
    <img src="/assets/img/brands/samhall.svg" alt="">
    <img src="/assets/img/brands/trim-on.svg" alt="">
    <img src="/assets/img/brands/suntarbetsliv.svg" alt="">
    <img src="/assets/img/brands/familjen.svg" alt="">
    <img src="/assets/img/brands/dva.png" alt="">
    <img src="/assets/img/brands/stjarnkalaset.svg" alt="">
    <img src="/assets/img/brands/seventy.svg" alt="">
    <img src="/assets/img/brands/white.svg" alt="">
    <img src="/assets/img/brands/stadium.svg" alt="">
    <img src="/assets/img/brands/ntm.svg" alt="">
    <img src="/assets/img/brands/sally.svg" alt="">
</section>