<h2>CV</h2>
<section>
    <ol class="cv-list">
    {% for item in cv %}
        {% if item.type == "Employed" and item.active == true %}
        <li>
            <h3>{{ item.title }}, {{ item.place }}</h3>
            <time datetime="{{ item.startDate }}">{{ item.startDate }}</time> - <time datetime="{{ item.endDate }}">{{ item.endDate }}</time>
            <p>{{ item.description }}</p>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
</section>

<section>
    <ol class="cv-list">
    {% for item in cv %}
        {% if item.type == "Education"  and item.active == true %}
        <li>
            <h3>{{ item.title }}, {{ item.place }}</h3>
            <time datetime="{{ item.startDate }}">{{ item.startDate }}</time> - <time datetime="{{ item.endDate }}">{{ item.endDate }}</time>
            <p>{{ item.description }}</p>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
</section>