<nav>
    <a {% if currentpage == "root" %} data-active="true" {% endif %}  href="/">root</a>
    <a {% if currentpage == "about" %} data-active="true" {% endif %}  href="/about">whoami</a>
    <a {% if currentpage == "blog" %} data-active="true" {% endif %}  href="/blog">text</a>
</nav>