---
layout: layouts/case.njk 
title: Sandqvist
published: true
currentpage: case
tags: ['case']
---
<!-- Excerpt Start -->
<div class="excerpt">
    <img src="/assets/img/cases/sandqvist/expo.png" alt="Interactive display at an expo" />
    <p>
        In order to smoothen the transition from existing sale samples to digital ones we used Sandqvist’s bags in 3D. 
        Displayed on an interactive screen, set in a forest environment, to show current season colors and bag features.
    </p>
</div>
<!-- Excerpt End -->


<!-- Full Case -->
    <ul class="cv-list skills-list tags">
        <li>JS</li>
        <li>Three.js</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Electron</li>
    </ul>
    <p>
        In order to smoothen the transition from existing sale samples to digital ones we used Sandqvist’s bags in 3D. 
        Displayed on an interactive screen, set in a forest environment, to show current season colors and bag features.
    </p>
    <p>
        Tech used involved...
    </p>
    
    
    <img src="/assets/img/cases/sandqvist/gif-interaction.gif" alt="Screenrecording from the experience" />
    <img src="/assets/img/cases/sandqvist/gif-interaction-2.gif" alt="Screenrecording from the experience" />
    <img src="/assets/img/cases/sandqvist/expo.png" alt="Interactive display at an expo" />
    
<!-- End Case -->