---
layout: layouts/case.njk 
title: Sandqvist
published: true
currentpage: case
tags: ['case']
---
<!-- Full Case -->
    <ul class="cv-list skills-list tags">
        <li>JS</li>
        <li>Three.js</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Electron</li>
    </ul>

    <!-- Excerpt Start -->
    <div class="excerpt">
        <video src="/assets/cases/sandqvist/9-16-spin.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
        <p>
            In order to smoothen the transition from existing sale samples to digital ones we used Sandqvist’s bags in 3D. 
            Displayed on an interactive screen, set in a forest environment, to show current season colors and bag features.
        </p>
    </div>
    <!-- Excerpt End -->
    <section class="gallery">
        <img src="/assets/cases/sandqvist/gif-interaction.gif" alt="Screenrecording from the experience" style="width:45%;"/>
        <img src="/assets/cases/sandqvist/gif-interaction-2.gif" alt="Screenrecording from the experience" />
        <img src="/assets/cases/sandqvist/expo.png" alt="Interactive display at an expo" />
    </section>
    
<!-- End Case -->