---
layout: layouts/base.njk
title: Crimethink
currentpage: blog
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<h1>{{ title }}</h1>
<p class="sub-page-intro">
  A seldom updated and random collection of web, tech and other thoughts. 
<p>

{% for post in posts %}
  <article class="blog-post-in-feed">
    <h2>
      {{ post.data.title }}
    </h2>
    <time datetime="{{ post.data.date | dateIso }}">{{ post.data.date | dateReadable }}</time>
    <p class="blog-excerpt">
      {% excerpt post %}
      <a href="{{ post.url | url }}">Read full post</a>
    </p>

  </article>
{% endfor %}