---
layout: layouts/base.njk
title: Blog
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<h1>{{ title }}</h1>
<p class="sub-page-intro">
  A penny for your thoughts.
  <br>
  <br>
  This will be a random mix of web, tech, personal thoughts, etc. 
  It will also be a living document, posts can be finished and polished but they can also be what some considers drafts. Terrible for SEO yet great for processing thoughts (<a href="https://www.usa.edu/blog/ways-journaling-benefits-students/">yeah science, bitch!</a>). 
<p>

{% for post in posts %}
  <article class="blog-post-in-feed">
    <h2>
      {{ post.data.title }}
    </h2>
    <time datetime="{{ post.data.date | dateIso }}">{{ post.data.date | dateReadable }}</time>
    <p class="blog-excerpt">
      {% excerpt post %}
      <a href="{{ post.url | url }}">Read full post</a>
    </p>

  </article>
{% endfor %}