---
layout: layouts/case.njk 
title: Nova 2.0
currentpage: case
tags: ['case']
---
<!-- Excerpt Start -->
<div class="excerpt">
    <p>
        &lt;insert content here	&gt;
    </p>
</div>
<!-- Excerpt End -->


<!-- Full Case -->
    <ul class="cv-list skills-list tags">
        <li>HTML</li>
        <li>React</li>
        <li>JS</li>
        <li>CSS</li>
        <li>Azure DevOps</li>
        <li>Git</li>
        <li>REST</li>
        <li>SOAP</li>
    </ul>
    <p>
        &lt;insert content here	&gt;    
    </p>
    <p>
       &lt;insert content here	&gt;
    </p>
    
    
<!-- End Case -->