---
layout: layouts/case.njk 
title: Säkerhetsdialogen
published: true
currentpage: case
tags: ['case']
---
<ul class="cv-list skills-list tags">
    <li>Fullstack</li>
    <li>PHP</li>
    <li>HTML</li>
    <li>Wordpress</li>
    <li>SASS</li>
    <li>WCAG</li>
    <li>Accessibility</li>
    <li>JS</li>
    <li>MySQL</li>
</ul>
<!-- Excerpt Start -->
<div class="excerpt">
    <img src="/assets/cases/sakerhetsdialogen/start-tall.jpg" alt="Landing page at Säkerhetsdialogen" />
    <p>
        I was responsible for developing a new tool under Sunt&nbsp;Arbetslivs multisite umbrella in Wordpress. 
    </p>
</div>
<!-- Excerpt End -->
<p>
    It started by adapting an existing site they had and migrated it to a new domain. Implementation of a new design followed, along with new features and new components for the block builder WP&nbsp;Bakery.
</p>
<p>
    Sunt Arbetsliv had a big focus on meeting accessibility standards, and the finished site was evaluated by an external part and passing with flying colors.
</p>
<section class="gallery">
    <img src="/assets/cases/sakerhetsdialogen/start-tall.jpg" alt="Landing page at Säkerhetsdialogen" />
    <img src="/assets/cases/sakerhetsdialogen/rond.jpg" alt="Landing page at Säkerhetsdialogen" />
</section>

<!-- End Case -->