---
layout: layouts/case.njk 
title: Säkerhetsdialogen
published: true
currentpage: case
tags: ['case']
---
<!-- Excerpt Start -->
<div class="excerpt">
    <img src="/assets/cases/sakerhetsdialogen/start-tall.jpg" alt="Landing page at Säkerhetsdialogen" />
    <p>
        New Wordpress site for Sunt&nbsp;Arbetsliv.
    </p>
</div>
<!-- Excerpt End -->


<!-- Full Case -->
<ul class="cv-list skills-list tags">
        <li>Fullstack</li>
        <li>PHP</li>
        <li>HTML</li>
        <li>Wordpress</li>
        <li>SASS</li>
        <li>JS</li>
        <li>MySQL</li>
    </ul>
    <p>
        New Wordpress site for Sunt&nbsp;Arbetsliv. I was responsible for developing a new tool under Sunt&nbsp;Arbetslivs multisite umbrella in Wordpress. I started with an existing site and migrated it to a new one, while also implementing new design, new features and also developing new components for the block builder WP&nbsp;Bakery.
    </p>
    <section class="gallery">
        <img src="/assets/cases/sakerhetsdialogen/start-tall.jpg" alt="Landing page at Säkerhetsdialogen" />
        <img src="/assets/cases/sakerhetsdialogen/rond.jpg" alt="Landing page at Säkerhetsdialogen" />
    </section>
    
<!-- End Case -->