<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/styles/global.css' | url }}">
    <title>{{ title }}</title>
    <meta name="description" content="I am Max Bergström. A web developer and web enthusiast. This is my space online, welcome.">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Silkscreen&family=Alatsi&family=Josefin+Sans:wght@300&display=swap' %}

    <script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>
  </head>
  <body class="{{ currentpage }}">
    <header class="no-print">
      <nav>
        <a href="/">home</a>
        <a href="/resume">resume</a>
        <a href="/cases">cases</a>
        <!--<a href="/blog">blog</a>
        <a href="/demos">demos</a>-->
      </nav>
    </header>

    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>

  </body>
</html>