<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/styles/global.css' | url }}">
    <title>{{ title }}</title>
    <meta name="description" content="I am Max Bergström. A web developer and web enthusiast. This is my space online, welcome.">
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body>
    <header class="no-print">
      <nav>
        <a href="/">home</a>
        <a href="/cv">cv</a>
        <a href="/work">work</a>
        <a href="/skills">skills</a>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <h2 class="no-print">Get in touch</h2>
      <a href="https://github.com/maxoftime">maxoftime@github</a>
      <a href="mailto:hej@maxbergstrom.se">hej@maxbergstrom.se</a>
      <a href="tel:+46763152978">076 315 29 78</a>
    </footer>
  </body>
</html>