---
layout: layouts/case.njk 
title: Trim On
published: true
currentpage: case
tags: ['case']
---
<ul class="cv-list skills-list tags">
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <li>Google Firebase</li>
    <li>Google Cloud Platform</li>
    <li>CI/CD</li>
    <li>11ty</li>
    <li>GraphQL</li>
</ul>

<!-- Excerpt Start -->
<div class="excerpt">
    <video src="/assets/cases/trim-on/preview.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
    <p>
        Trim On is a virtual sailing camp built with Unity for virtual reality headsets. I have been responsible in developing their website and user dashboard.
    </p>
</div>
<!-- Excerpt End -->
<p>
    Initally Trim On needed to launch a super simple landing page. I then started by setting up a site in a wysiwyg-tool called Cargo. That way I could care less about hosting and CMS choices and spend more of the precious time on setting up the content.  
</p>
<p>
    Then I built an accounts page with html, css and javascript. It is hosted on Google Firebase and utilizes Hosting, Firestore, and Functions for all operations. It is also in the accounts pages the users starts their subscriptions and gets access to the actual sailing eperience. 
</p>
<p>
    I am currently underway with porting the current landing page to a custom built one. The need for proper localization is very important for Trim On and at a level Cargo can't deliver on. By shifting to a headless CMS with good localization capabilities (DatoCMS), we can generate static pages in all languages necessary with a static site generator called 11ty from a single layout template.
</p>
<section class="gallery">
    <video src="/assets/cases/trim-on/preview.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
    <img src="/assets/cases/trim-on/payment.jpeg" alt="Payment screen in Trim On">
</section>