---
layout: layouts/case.njk 
title: Kia Sweden
published: true
currentpage: case
tags: ['case']
---
<ul class="cv-list skills-list tags">
        <li>Adobe Experience Manager</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Responsive design</li>
        <li>Vue.js</li>
    </ul>
    <!-- Excerpt Start -->
    <div class="excerpt">
        <img src="/assets/cases/kia/start-mobile.jpg" alt="" />
        <p>
            My role at Kia was to add new pages and to maintain existing pages in their CMS (Adobe Experience Manager). 
        </p>
    </div>
    <!-- Excerpt End -->
    <p>
        It involved a need for smartness and working around larger issues that was was inherent in the CMS. It also involved developing standalone campaign sites in HTML, CSS and JS. I had close contact with their tech lead and also functioned as an advisory in strategy in the work on their site.
    </p>
    <section class="gallery">
        <img src="/assets/cases/kia/start-mobile.jpg" alt="" />
        <video class="half-width" src="/assets/cases/kia/swipe.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
    
    </section>
    
    
<!-- End Case -->