---
layout: layouts/base.njk
title: Cases
currentpage: cases
pagination:
  data: collections.case
  size: 10
  reverse: true
  alias: cases
---

<h1>{{ title }}</h1>
<section class="case-feed">
{% for case in cases %}
  {% if case.data.published %}
    {% if case.data.title === 'Sandqvist' %}
      <article class="case-in-feed hero">
    {% elif case.data.title === 'Trim On - User Dashboard' or case.data.title === 'Nova 2.0' %}
      <article class="case-in-feed highlight">
    {% else %}
      <article class="case-in-feed">
    {% endif %}
      <a href="{{ case.url | url }}">
          <h2>
          {{ case.data.title }}
          </h2>
          <p class="blog-excerpt">
          {% excerpt case %}
          </p>
      </a>
    </article>
  {% endif %}
{% endfor %}
</section>