---
title: Cases
currentpage: cases
layout: layouts/base.njk
---
<section>
    <ol class="cv-list work-list">
    {% for case in cases %}
        <li>
            <h3>{{ case.client }}</h3>
            <h4>{{ case.project }}</h4>
            <p>{{ case.description }}</p>
            <ul class="tags">
             {% for tech in case.stack %}
                <li>{{ tech }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ol>
</section>
