---
title: Skills
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

<section>
    <h2>Skills</h2>
    <ul class="cv-list skills-list tags">
    {% for item in skills %}
        <li>{{ item.name }}</li>
    {% endfor %}
    </ul>
</section>
