---
layout: layouts/case.njk 
title: EY Doberman & White Arkitekter
currentpage: case
published: false
tags: ['case']
---
<ul class="cv-list skills-list tags">
    <li>8thWall</li>
    <li>Three.js</li>
    <li>JS</li>
    <li>HTML</li>
    <li>CSS</li>
</ul>
<!-- Excerpt Start -->
<div class="excerpt">
    <img src="/assets/cases/future-city/asogatan.png" alt="Future concept of Åsögatan envisioned in a augmented reality" />
    <p>
      Future windows - A better, more resilient and exciting urban life is possible. But what would it be like to live in a city where we think radically different about mobility, nature, energy, and resource flows? And how is that city different from the ones we live in now?
    </p>
</div>
 <!-- Excerpt End -->
    <p>
        In the immersive exhibition Future Window, we use the city as a stage to explore different possible stories about the future through storytelling and augmented reality.
    </p>
    <p>
        Made in collaboration with SALLY for White arkitekter.
    </p>
    <section class="gallery">
        <img src="/assets/cases/future-city/asogatan.png" alt="Future concept of Åsögatan envisioned in a augmented reality" />
    </section>

    