---
layout: layouts/case.njk 
title: Familjen.se
currentpage: case
published: true
tags: ['case']
---
<!-- Excerpt Start -->
<div class="excerpt">
    <video src="/assets/cases/familjen-se/preview-familjen-logo.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
    <p>
        The project involved structuring and frontend coding our new site. We used a static site generator called 11ty and Sanity as a CMS. 
    </p> 
</div>
<!-- Excerpt End -->


<!-- Full Case -->
<ul class="cv-list skills-list tags">
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <li>Eleventy</li>
    <li>Node</li>
    <li>Sanity CMS</li>
</ul>
<p>
    The project involved structuring and frontend coding our new site. We used a static site generator called 11ty and Sanity as a CMS. 
</p> 
<p>
    It was a really experimentative process where we tried a lot of different techniques. In the end we settled on keeping it simple by just using css animations and javascript instead of any library. 
</p>
<section class="gallery">
    <video src="/assets/cases/familjen-se/pen_short.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
    <video class="half-width" src="/assets/cases/familjen-se/start-mobile.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
    <video src="/assets/cases/familjen-se/this-os-us.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
    <video src="/assets/cases/familjen-se/typetester.mp4" autoplay playsinline disablePictureInPicture muted loop></video>
</section>

<!-- End Case -->