---
layout: layouts/case.njk 
title: Familjen.se
currentpage: case
published: true
tags: ['case']
---
<!-- Excerpt Start -->
<div class="excerpt">
    <p>
        The project involved structuring and frontend coding our new site.
    </p>
</div>
<!-- Excerpt End -->


<!-- Full Case -->
    <p>
         The main goal was to showcase the playfulness of the web while at the same time deliver a fast and nice experience to the visitor.
    </p>
    <ul class="cv-list skills-list tags">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Eleventy</li>
        <li>Node</li>
        <li>Sanity CMS</li>
    </ul>
    
<!-- End Case -->