---
title: 404 - Page not found
layout: layouts/base.njk
---
<section>
    <h1>{{ title }}</h1>
    <p>
        Whoopsie daisy! You probably ended up here by mistake. Most likely a broken link.
    </p>
    <p>
        If you want to return to the homepage, feel free to use this link:
        <br>
        <a href="/">Back to homepage</a>
    </p>
</section>