---
title: Hello World
currentpage: home
layout: layouts/base.njk
---
<section> 
    <p>
        My name is Max Bergström.
    </p>
    <p>
        I like to read about, play around with, and create stuff for the web. This is meant to be my 
        place online where I can share thoughts, cool stuff and also promote myself in case I need to find employment.
        I am currently employed at <a href="https://dva.studio">DVA Studio</a> fusing bleeding edge tech with distinctive purposes.
    </p>
</section>  
<section>
      <h2 class="no-print footer-heading">Get in touch</h2>
      <a href="https://github.com/maxoftime">maxoftime@github</a>
      <br>
      <a href="mailto:hej@maxbergstrom.se">hej@maxbergstrom.se</a>
      <br>
      <a href="tel:+46763152978">076 315 29 78</a>
</section>


<!--<img class="mugshot" src="https://media.licdn.com/dms/image/D4D03AQEw4xZFEjljEw/profile-displayphoto-shrink_800_800/0/1693375282025?e=1699488000&v=beta&t=GFz2zmPVdsOb7Daxlmsac_KisHGsoWtHMccBTT_HpEY" alt="">-->
       