---
title: Home
currentpage: home
layout: layouts/base.njk
---
<h1 data-text="Max &#xa; Bergström">Max<br>Bergström</h1>
    <p>
        I can help you develop usable and sensible tech experiences. I am currently on the lookout for opportunities in my role as a consultant at <a href="https://www.xlent.se/kontor/norrkoping">XLENT</a>. 
    </p>
    <p>
        Reach out to me if you need help with of any (or all) of the following.
        <ul class="fronted-services">
            <li>
                Creative<br>technology
                <ul>
                    <li>Immersion</li>
                    <li>Emotions</li>
                    <li>Connection</li>
                </ul>
            </li>
            <li>
                Web<br>development
                <ul>
                    <li>Static site<br>generation</li>
                    <li>Troubleshooting & debugging</li>
                    <li>Content<br>creation</li>
                </ul>
            </li>
            <li>
                Digital<br>strategy
                <ul>
                    <li>Where?</li>
                    <li>What?</li>
                    <li>How?</li>
                </ul>
            </li>
        </ul>
    </p>
    <!--
    <p>
        Be sure to check out some of my cases. Here are three random ones you can check out: 
            <span="random-cases">
                <a href="/cases/sandqvist">Sandqvist</a>, 
                <a href="/cases/trim-on-dash">Trim On - Dashboard</a>, 
                <a href="/cases/kia">Kia</a>
            </span>
    </p>
    -->
    <p>
        But don't just take my word for it. This is what people I've worked with has to say about me:
        <blockquote>
            My bro solves most things... 🤙🏽
            <br>
            <span>
                Maurice Carlberg
                <br>
                3D artist/Art Director, DVA
            </span>
        </blockquote>
        <blockquote>
            I had the pleasure of working with Max in my role as Technical Director at Familjen. What makes Max stand out is the pragmatic and technology agnostic attitude. He masters the tech and is a quick learner, but it's the caring and easy-going attitude towards his peers and clients that really makes him stand out. Max is a wonderful team player who you want to be around.
            <br>
            <span>
                Peder Fjällström
                <br>
                CEO, Try New Things
            </span>
        </blockquote>
        <blockquote>
            This is Max. You want Max in your company. This is my warmest recommendation.
            <br>
            <span>
                Dennis Wall
                <br>
                Solutions Engineer, Adnuntius
            </span>
        </blockquote>
    </p>


<!--<img class="mugshot" src="https://media.licdn.com/dms/image/D4D03AQEw4xZFEjljEw/profile-displayphoto-shrink_800_800/0/1693375282025?e=1699488000&v=beta&t=GFz2zmPVdsOb7Daxlmsac_KisHGsoWtHMccBTT_HpEY" alt="">-->
       