---
title: Max -  Professional tech tinkerer
currentpage: root
layout: layouts/base.njk
---
    <h1>Hello there</h1>
    <p>
        Just Max here.
    </p>
    <p>
        A pragmatic, no-bullshit tech tinkerer that help companies and organisations build better products and services.
    </p>
    <p>
        I am currently employed at <a href="https://www.newport.se">Newport Collection</a> as a frontend developer. Where I am involved in all things ecommerce, from ui design to analytics and back again.
    </p>
    <p>
        I flourish in the borderlands between design and development. And I love to experiment with new emerging tech to make people go
        <span class="wow">
            <span>»</span>
            <span>w</span>
            <span>o</span>
            <span>w</span>
            <span>!</span>
            <span>«</span>
        </span>.
    </p>

    <h2>So what do I actually do?</h2>
    <p>
       I enhance digital communication by building useful and impactful experiences, I form solid strategies with data to back them up and I help companies drive innovation with proven methodologies.
    </p>

    <h2>And that means?</h2>
    <p>
        Mainly that I design and code websites. But it also means that I help decision-making regarding technical strategies and implementations.
    </p>
