---
layout: layouts/base.njk
title: I hereby present
currentpage: demos
pagination:
  data: collections.demo
  size: 5
  reverse: true
  alias: demos
---
<h1>{{ title }}</h1>
<p class="sub-page-intro">
  This is my collection of fun/cool/weird hacks/demos/pocs conjured up.
  Some are proper functional demos, some are just explained, and some may be links to code.
  <br>
  <br>
  It is what it is.
<p>

{% for demo in demos %}
  <article class="blog-post-in-feed">
    <h2>
      {{ demo.data.title }}
    </h2>

    <p class="blog-excerpt">
      {% excerpt demo %}
    </p>

  </article>
{% endfor %}